<!DOCTYPE html>
<html>
<head>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <title>Bassdrive</title>
  <%= stylesheet_link_tag    '//bassdrive.com/css/style.css' %>
  <%= stylesheet_link_tag    'player', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'jquery'  %>
<%= javascript_include_tag 'player'  %>
</body>
</html>
